* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 2rem 5rem;
  text-align: center;
  background-color: #ffc400;
  color: rgb(0, 0, 0);
  font-family: "helvetica neu", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.navbar{
   background-color: #493419;
}
h1{
  font-family: cursive;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.restaurants{
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  justify-content: center;
  padding: 0px;
}

.restaurants > img{
  flex: 1;
  object-fit: cover;
  margin: auto;
}

input{
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 50%;
  height: 50%;
  padding: 20px;
  margin-bottom: 42px;
  font-size: 20px;
}

input:focus{
  outline: none;
}
.button{
  padding: 8px 0;
}
.card{
  margin-right: 5px;
  margin-bottom: 5px;
}
.card:last-of-type{
  margin-right: 0;
}

.form{
  justify-content: center;
}
.error{
  color: red;
  font-style: italic;
}